<div class="container">
 <div class="row">
  <div class="col-4 w-100">
  </div>
  <div class="col-4 mt-5 w-100 text-center">
  <mat-card>
    <mat-card-title><div class="text-center w-100"><img class="w-50" src="assets/img/logo.png"></div></mat-card-title>
     <mat-card-content>      
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate> 
      <div> 
      <mat-form-field class=" w-75 mb-2">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error  *ngIf="!errorSistema">
               Email incorrecto
            </mat-error>
        </mat-form-field>
      </div> 
      <div>
        <mat-form-field class="w-75">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> 
          <mat-error *ngIf="!errorSistema">
              El password no es válido
          </mat-error>
      </mat-form-field> 
    </div> 
    <button type="submit" class="btn btn-dark w-100" [disabled]="!loginForm.valid">Entrar</button>
    <div *ngIf="errorSistema" class="alert alert-danger mt-2">
      {{message}}
    </div>
       </form> 
   </mat-card-content>
  </mat-card>
  </div>
</div>
</div>
