<div class="container"> 
    <div class="row">
        <div class="col-lg-4 w-100"> </div>  
        <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 w-100">
            <h2 class="text-center">Alta de usuario</h2>
            <div *ngIf="submmitOK">
                <div class="alert alert-success" role="alert">
                    {{submmitOK}}  
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-dark w-25 ml-2" routerLink="/list"> LISTADO</button>
                    <button type="button" class="btn btn-dark w-25 ml-2" (click)="reload()"> NUEVO</button>
                </div>
            </div>
            <div *ngIf="error" class="alert alert-danger" role="alert">
                {{error}}
            </div>
            <div class="container text-center">
                <form [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate>
                    <!-- <div class="row"> -->
                        <div>
                            <mat-form-field class="w-100 ml-2">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="name">
                                <mat-error>
                                    Longitud entre 2 y 50
                                </mat-error>
                            </mat-form-field> 
                            <mat-form-field class="w-100 ml-2">
                                <mat-label>Edad</mat-label>
                                <input matInput type="number" formControlName="age" (keypress)="numberOnly($event)">
                                <mat-error>
                                    Valor incorrecto
                                </mat-error>
                            </mat-form-field>  
                        </div>
                        <div>
                            <mat-form-field class="w-100 ml-2">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email">
                                <mat-error>
                                    No es un email válido
                                </mat-error>
                            </mat-form-field> 
                        </div>
                        <div>
                        </div>
                        <div>
                            <mat-form-field class="w-100 ml-2">
                                <mat-label>Contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> 
                                <mat-error>
                                    Longitud mínima 8
                                </mat-error>
                            </mat-form-field>  
                        </div>
                        <div>
                            <mat-form-field class="w-100 ml-2">
                                <mat-label>Confimar contraseña</mat-label>
                                <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirm">
                                <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon> 
                                <mat-error>
                                    El contraseña no coincide
                                </mat-error>
                            </mat-form-field> 
                        </div>
                    <div class="row">
                        <div class="text-center w-100">
                            <button class="btn btn-dark w-100" type="submit" [hidden]="submmitOK" [disabled]="!userForm.valid">GUARDAR</button>
                        </div>
                    </div>    
                </form>
            </div>
        </div>      
    </div>
</div>


